<div align="center"><img src="/images/principal1.jpg" class="img-fluid" /></div>

    <div align="left"><img src="/images/tempo.png" class="img-fluid" /> 
                     <img src="/images/fretegratis.png" class="img-fluid" />
                     <img src="/images/garantia.png" class="img-fluid" />
                     <img src="/images/seguro.png" class="img-fluid" />
    </div>


        