<div align="center" class="container">
    <img src="~/images/faleconosco.png" />
    <div align="center" class="jumbotron">
        <p>
      
            <div>
                <img src="~/images/email.png" />
            </div>
           
            <div><email endereco="saclojacontatos.com.br" conteudo="Enviar um email"></email></div>
            <br />
            <h5>
                <img src="~/images/telefone.png" />
            </h5>
            <h5>(17) 9999-6666</h5>
            <br />
            <h5>
                <img src="~/images/endereco.png" />
            </h5>
            <h5>Av. dos Estudantes, 000 - CEP: 00000-111 - São José do Rio Preto</h5>
        </p>
    </div>
</div>
